:root {
  --body-bg: #ddd2c4;
  --book-boox-bg: #f0eae2;
}

@font-face {
  font-family: "Urbanist";
  src: url("../assets/fonts/Urbanist/Urbanist-VariableFont_wght.ttf");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: var(--book-boox-bg);
  min-height: 100vh;
  font-family: "Urbanist";
}
main {
  margin: 25px;
  position: relative;
  z-index: 1;
}
.filter-container {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: var(--book-boox-bg);
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.reset-all-filters,
.filtering-by-cost,
.search-by-genre,
.search-by-key-words {
  margin: 0 15px;
}
.search-input,
#book-genres,
#price-filtering,
.reset-all-filters {
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
  background-color: #faf7f4;
}
.reset-all-filters {
  background-color: #db7372;
  color: #faf7f4;
  cursor: pointer;
}

#book-genres option {
  border: none;
  border-radius: 10px;
  padding: 10px 25px;
}
.books-containers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.books-containers article {
  display: block;
  width: 300px;
  height: 400px;
  background-color: #faf7f4;
  /* border: 1px solid white; */
  box-shadow: 0 0 2px var(--book-boox-bg);
  border-radius: 20px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-between;
  margin: 10px;
  transform: translateY(0);
  transition: transform 0.3s linear;
}
.books-containers article:hover {
  transform: translateY(-10px);
  cursor: pointer;
}
.book-img {
  display: block;
  width: 150px;
  height: 230px;
  margin-bottom: 15px;
  border-radius: 7px;
  margin: 0 auto;
}
.book-name {
  text-align: center;
}
.filter-container {
  display: flex;
}

.book-author-name,
.book-cost {
  text-align: start;
}
